.elements__element {
    width: 282px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 10px;
}

@media screen and (max-width: 650px) {
    .elements__element {
        margin-right: 0px;
    }
}