.showImage__close-btn {
    position: absolute;
    background-image: url(../../../images/CloseIcon.svg);
    cursor: pointer;
    width: 32px;
    height: 32px;
    top: -36px;
    right: -36px;
    background-color: transparent;
    background-position: center;
    border: none;
}

.showImage__close-btn:hover {
    opacity: 0.6;
}

@media screen and (max-width: 650px) {
    .showImage__close-btn {
        width: 20px;
        height: 20px;
        right: 0;
        background-size: cover;
    }
}